<% provide(:title, "Our Phones") %>

<div id="noticePopup">
<p id="notice"><%= notice %></p></div>
 


 <div class="w3-content w3-container w3-padding-64">
  
  <h1 class="w3-center">OUR PHONES</h1>
  
  <% @phones.each do |phone| %>
  <span title="CLICK ON IMAGE OR ON SHOW BUTTON AT BOTTOM TO VIEW THE PHONE" class="mytooltip">
      <div class="phoneCols">
       <h2><%= phone.title %></h2>
      
       
       <%= link_to (image_tag phone.image_url, :class => "itemholsIm"), phone %>
        <p><%= phone.description %></p>
       <p>Price <%= number_to_currency(phone.price, :unit => "€") %>
       <br>
        Category: <%= phone.category %>
        </p>
       
       <p>
         <%= link_to 'Show',  phone, :class => "w3-button w3-large w3-black", :role => "button" %>
         <%= link_to 'Edit',  edit_phone_path(phone), :class => "w3-button w3-large w3-black", :role => "button" %>
         <%= link_to 'Destroy',  phone, method: :delete, data: { confirm: 'Are you sure?' }, :class => "w3-button w3-large w3-black", :role => "button" %>
       </p>
        
      </div></span>
      
    <% end %>
    
    <div class="bottomButtons">    
       <%= link_to 'Create New Phone Item',  new_phone_path, :class => "w3-button w3-large w3-black", :role => "button" %>
    </div>
      
</div>

<script>
    
    // tool tip js

$(document).ready(function() {
	var Delay = 500, ToolTipTimer
	$('.mytooltip').hover(function(e){
			// hover over
			var title = $(this).attr('title');
			$(this).data('ToolTipText', title).removeAttr('title');
			$('<div class="wy-tooltip wy-hide"></div>').text(title).appendTo('body'); 		
			 ToolTipTimer  = setTimeout(function(e) {
				$('.wy-tooltip').removeClass('wy-hide').fadeIn('fast');
			 },Delay);
	}, function() {
			// hover out
			clearTimeout(ToolTipTimer);
			$(this).attr('title', $(this).data('ToolTipText'));
			$('.wy-tooltip').remove();
	}).mousemove(function(e) {
			// mouse move
			var pLeft;
			var pTop;
			var offset = 10;
			var CursorX = e.pageX;
			var CursorY = e.pageY;
			var WindowWidth = $(window).width();
			var WindowHeight = $(window).height();
			var toolTip = $('.wy-tooltip');
			var TTWidth = toolTip.width();
			var TTHeight = toolTip.height();	
		
			if (CursorX-offset >= (WindowWidth/4)*3) {
				pLeft = CursorX - TTWidth - offset;
			} else {
				pLeft = CursorX + offset;
			}
			if (CursorY-offset >= (WindowHeight/4)*3) {
				pTop = CursorY - TTHeight - offset;
			} else {
				pTop = CursorY + offset;
			}
			console.log('CursorX: '+CursorX);
			console.log('CursorY: '+CursorY);
			console.log('WindowWidth: '+WindowWidth);
			console.log('WindowHeight: '+WindowHeight);
			console.log('TTWidth: '+TTWidth);
			console.log('TTHeight: '+TTHeight);
			console.log('CursorX-offset: '+ (CursorX-offset));
			console.log('(WindowWidth/4)*3: '+(WindowWidth/4)*3);
			console.log('CursorY-offset: '+ (CursorY-offset));
			console.log('(WindowHeight/4)*3: '+(WindowHeight/4)*3);		
		
			console.log('-----------------------------------');
			$('.wy-tooltip').css({ top: pTop, left: pLeft })			
	});
});
    
</script>
